# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next
.next
out

# misc
.DS_Store
*.pem
.env
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
*ynology*
*Synology*
